/* Estilo para o header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b97fa3;
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Container para o formulário */
.container {
    margin-top: 100px; /* Altere este valor conforme a altura do header */
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Ajusta o alinhamento para que o container fique logo abaixo do header */
    height: auto;
}

form p {
    margin-bottom: 15px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button, input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #b97fa3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

button:hover, input[type="submit"]:hover {
    background-color: #ac61a8;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
        width: 90%;
    }
}
